<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
	<script src="/javascripts/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
 	
  </head>
  <body>
  	
  	<%-include('head.ejs') %>
  	<h2>详情</h2>
  	<h3><%-info.title %></h3>
  	<p><%-info.con %></p>
  	
  	
  </body>
  <script type="text/javascript">
  	
  </script>
</html>
