<!DOCTYPE html>
<html>
  <head>
    <title> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
    	.tit{
    		color: red;
    	}
    </style>
  </head>
  <body>
    <h1 class="tit">这是一个公共的头部</h1>
  </body>
</html>
